{% extends "base.html" %} {% block content %} {% load staticfiles %}
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form class="form_assoc rounded" method="post">
            {% csrf_token %} 
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
        </div>
    </div>
</div>
{% endblock %}