<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<link rel ="stylesheet" type="text/css" href ={% static "css/style.css"%}>
    <link rel="stylesheet" href={% static "css/bootstrap.min.css"%}>
    <link rel="stylesheet" href={% static "css/bootstrap.css"%}>
    <script src={% static "js/jquery.js"%}></script>
    <script src={% static "js/bootstrap.min.js"%}></script>
</head>
<body id="body">
	<div class="box_layout">
		<div class="jumbotron vertical-center">
			<div class="container text-center" >
				<img src="{% static "img/profile.png"%}" alt="user icon" id="img_profil">
				<form action="{% url "create_account" %}" method="post">
                    {%  csrf_token %}
					<label for="id_login">Login:</label>
					<input type="text" name="login" maxlength="30" required id="id_login" class="form-control" placeholder="Login"/>

					<label for="id_firstname">Pr&eacute;nom</label>
					<input type="text" name="firstname" maxlength="50" required id="id_firstname" class="form-control" placeholder="Pr&eacute;nom"/>

					<label for="id_lastname">Nom</label>
					<input type="text" name="lastname" maxlength="50" required id="id_lastname" class="form-control" placeholder="Nom"/>

					<label for="id_password">Mot de passe</label>
					<input type="password" name="password" required id="id_password" class="form-control" placeholder="Mot de passe" />

					<label for="id_pass_confirm">Confirmation du mot de passe</label>
					<input type="password" name="pass_confirm" required id="id_pass_confirm" class="form-control" placeholder="Confirmation du mot de passe"/>

					<label for="id_email">Adresse email</label>
					<input type="email" name="email" required id="id_email" class="form-control" placeholder="Adresse mail" aria-describedby="emailHelp"/>
					<input type="submit" class="btn btn-primary" value="Submit" id="subutton">
				</form>
			</div>
		</div>
	</div>
</body>
</html>