<DOCTYPE html>
    {% load staticfiles %}
    <html>

    <head>
        <title> EPITA - Intranet Association </title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href={% static 'css/main.css' %}>
        <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
        <script src={% static "js/jquery.js" %}></script>
        <script src={% static "js/bootstrap.min.js" %}></script>
    </head>

    <body class="">
        <div class="container banner-top">
            <div class="row">
                <div class="col-2">
                    <img src={% static "img/logo-epita.png" %}/>
                </div>
                <div class="col align-self-end">
                    <p>Intranet Association</p>
                </div>
            </div>
        </div>
        <div class="container d-flex">
            <button type="button" class="btn btn-link ml-auto">(username) Se déconnecter</button>
        </div>

        <div class="container top_navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top sticky-top">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="accueil.html">Accueil</a>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="page_membre.html">Mon Profil</a>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="association.html">Création d'association</a>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="association.html">Contact</a>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </li>
                    </ul>
                </div>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </nav>
        </div>
        <div class="container">
            <div id="top_carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src={% static 'img/salle_epita.jpg' %} alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src={% static 'img/computer_photo.jpg' %} alt="Second slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#top_carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#top_carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="container informations">
            <div class="row">
                <div class="col-lg-6">
                    <h2> Informations </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae sem consectetur magna faucibus congue id nec enim.Nulla ut magna eget odio semper placerat.Nullam molestie, est eu aliquet bibendum, neque felis tristique urna, eget
                        tempor nunc enim vitae magna. Morbi tortor sapien, aliquet ut lectus non, imperdiet feugiat nisi. Ut ac augue diam. Donec pulvinar malesuada semper. Curabitur at blandit mauris, a eleifend eros. Phasellus sit amet odio turpis.
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src={% static "img/etudiants-sep.jpg" %} />
                </div>
            </div>
        </div>
    </body>

    </html>