{% extends "base.html" %} {% block content %} {% load staticfiles %}


<div class="container body_pres">
    <div class='row'>
        <div class="col-lg-12">
            <h2>Candidature chez {{ asso.name }}</h2>
            <form method="post" action=".">
                {% csrf_token %} {% if asso.motivation_letter %}
                <textarea class="col-lg-8 h-25" name="motivation_letter" maxlength="500" id="id_motivation_letter"></textarea> {% endif %}
                <p></p>
                <input type="submit" value="Candidater" />
            </form>
        </div>
    </div>
</div>

{% endblock %}