<DOCTYPE html>
    {% load staticfiles %}
    <html>

    <head>
        <title> EPITA - Intranet Association </title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href={% static 'css/main.css' %}>
        <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
        <script src={% static "js/jquery.js" %}></script>
        <script src={% static "js/bootstrap.min.js" %}></script>
        <script src={% static "js/moment.min.js" %}></script>
        <script src={% static "js/Chart.min.js" %}></script>
    </head>

    <body class="">
        <div class="container banner-top">
            <div class="row">
                <div class="col-2">
                    <a target="_blank" href="http://www.epita.fr">
                        <img src={% static "img/logo-epita.png" %}/>
                    </a>
                </div>
                <div class="col align-self-end">
                    <p>Intranet Association</p>
                </div>
            </div>
        </div>
        <div class="container d-flex">
            {% if user.is_authenticated %}
            <a class="" href="{% url 'disconnect' %}">({{ user.username }}) Se déconnecter</a> {% endif %}
        </div>

        <div class="container top_navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top sticky-top">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accueil' %}">Accueil</a>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user' user.username%}">Mon Profil</a>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'crea_asso' %}">Création d'association</a>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </li>
                        {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'responsable' %}">Page Responsable </a>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <form class="search form-inline my-2 my-lg-0" action={% url 'search' %} method="get">
                    <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search" id="search-input">
                </form>
            </nav>
            <div class="drop-down-results float-right">
                <div class="results">
                    <div id="res-assos" class="results-assos"></div>
                    <div id="res-users" class="results-users"></div>
                </div>
            </div>

            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> {{ message }}
            </div>
            {% endfor %}
        </div>
        {% block content %} {% endblock %} {% verbatim %}
        <script type="text/html" id="hit-template">
            <div class="hit">
                <div class="hit-content">
                    <a class="hit-name" href="/association/{{{slug}}}">{{{_highlightResult.name.value}}}</a>
                </div>
            </div>
        </script>
        <script type="text/html" id="hit-template2">
            <div class="hit">
                <div class="hit-content">
                    <a class="hit-name" href="/user/{{{username}}}">{{{_highlightResult.username.value}}}</a>
                </div>
            </div>
        </script>
        {% endverbatim %}
        <script src={% static "js/instantsearch.min.js" %}></script>
        <script src={% static "js/search.js" %}></script>
    </body>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </footer>
