<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href={%  static "css/style.css" %}>
  <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
  <link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
  <script src={% static "js/jquery.js" %}></script>
  <script src={% static "js/bootstrap.min.js" %}></script>
</head>
	<body>
	<div class="container" id="login_box">
	  <h1 id="title">Connexion &agrave l'Intranet Association </h1>
		<div class="col" id="contenu_bouton">
			<img src={% static 'img/epita.png' %} alt="epita association" class="epita_img"/>
			<a href="{% url 'social:begin' backend='epita' %}" class="button">EPITA Connect</a>
			<img src={% static 'img/right-arrow.png' %} alt="epita association" class="arrow_epita"/>
		</div>
    <div class ="col" id = "separateur_img">
		  <img src={% static 'img/separateur.png' %} alt="epita association" class="separateur"/>
    </div>
		<form method = "post" action=".">
            {%  csrf_token %}
    <div class="row">
      <div class="col-sm" id="position">
	  	  <input type="text" name="username" maxlength="30" required="id_username" placeholder="Nom de compte" class="username">
      </div>
    </div>
    <div class="row">
      <div class="col-sm" id="position-mdp">
	    	<input type="password" name="password" placeholder="Mot de passe" class="mdp" required="id_required">
      </div>
    </div>
    <div class="row">
      <div class="col-sm" id="no_account">
         <a href={% url 'create_account'%} class="create_account"> Pas de compte? Inscrivez-vous </a>
      </div>
    </div>
    <div class="row">
		  <input type="submit" name="submit" value="Connexion" class="submit">
    </div>
		</form>
	</div>
	</body>
</html>
