{% extends "base.html" %} {% block content %}
<div class="container body_pres">
    <h3>{{ asso.name }}</h3>
    <form class="" action="" method="post">
        {% csrf_token %}
        {{form.nb_event.label_tag}}
        {{form.nb_event}}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Rôle</th>
                    <th scope="col">Nombre d'évènements</th>
                    <th scope="col">Communication (sur 25)</th>
                    <th scope="col">Travail (sur 50)</th>
                    <th scope="col">Vie Associative (sur 25)</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <a href="{% url 'user' login=asso.login_pres %} ">{{ asso.login_pres }}</a>
                    </td>
                    <td>Président</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% if asso.login_vice_pres is not None %}
                <tr>
                    <td>
                        <a href="{% url 'user' login=asso.login_vice_pres %} ">{{ asso.login_vice_pres }}</a>
                    </td>
                    <td>Vice Président</td>
                    <td></td>
                    {% if user.username == asso.login_pres or user.is_staff%}
                    <td>
                        <div class="form-group">
                            {{form.comm_vice_pres}}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{form.work_vice_pres}}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{form.asso_life_vice_pres}}
                        </div>
                    </td>
                    {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% endif %}
                </tr>
                {% endif %}
                <tr>
                    <td>
                        <a href="{% url 'user' login=asso.login_tres %} ">{{ asso.login_tres }}</a>
                    </td>
                    <td>Trésorier</td>
                    <td></td>
                    {% if user == asso.login_pres or  user.is_staff %}
                    <td>
                        <div class="form-group">
                            {{form.comm_tres}}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{form.work_tres}}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{form.asso_life_tres}}
                        </div>
                    </td>
                    {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'user' login=asso.login_secr %} ">{{ asso.login_secr}}</a>
                    </td>
                    <td>Secrétaire</td>
                    {% if user == asso.login_pres or user.is_staff %}
                    <td></td>
                    <td>
                        <div class="form-group">
                            {{form.comm_secr}}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{form.work_secr}}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{form.asso_life_secr}}
                        </div>
                    </td>
                    {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% endif %}
                </tr>

                {{ formset.management_form }} {% for form in formset %}
                <tr>
                    {{ form.id }}

                    <td>
                        <a href="{% url 'user' login=form.instance.user.username %}">{{form.instance.user.username}}</a>
                    </td>
                    <td>Membre</td>
                    <td>

                        {% for field in form %}
                        <div class="form-group">
                            {{ field }}
                        </div>
                        {% endfor %}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
    <div class="row">
        <div class="col-lg-12">
            <div class="top-button-list">
                <a href="export" class="btn btn-outline-primary" role="button">Exporter</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}