"{% extends "base.html" %} {% block content %} {% load staticfiles %}
<div class="container body_pres">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="top-button-list">
                {% if user == asso.login_tres  or user.is_staff %}
                <a href="#link" class="btn btn-outline-primary" role="button" data-toggle="modal" data-target="#budget">Demande de Budget</a>
                {% endif %}
                {% if user == asso.login_tres or user == asso.login_pres or user.is_staff %}
                <a href="#link" class="btn btn-outline-primary" role="button" data-toggle="modal" data-target="#depense">Déclarer une dépense/recette</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="col-lg-12">
            <h2>{{ asso.name }}</h2>
        </div>
    </div>
    <div class='row'>
        <div class="col-lg-12">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>


<div class="modal fade" id="budget" tabindex="-1" role="dialog" aria-labelledby="budgetLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="depensemodal">Demande de Budget</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="" method="post" class="form-control">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form_demand.fichier_presentation_chemin.id_for_label }}">{{ form_demand.fichier_presentation_chemin.label }}</label>
                        {{ form_demand.fichier_presentation_chemin }}
                    </div>
                    <div class="form-group">
                        <label for={{ form_demand.amount.id_for_label }}>Montant</label>
                        {{ form_demand.amount }}
                    </div>
                    {{ form_demand.emis }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button name="demandbudget" type="submit" class="btn btn-primary">Envoyer la demande</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="depense" tabindex="-1" role="dialog" aria-labelledby="depenseLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="depenseModal">Déclaration de Dépense / Recette</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="" method="post" class="">
                {% csrf_token %}
                    {% for field in form_declare %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button name="declarespent" type="submit" class="btn btn-primary">Envoyer la demande</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var names = [
        {% for fin in finances %}
        "{{ fin.user }}"
        {% if not forloop.last %},{% endif %}
        {% endfor %}];
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                label: 'Dépenses',
                data: [
                    {% for fin in finances %}
                    {
                    t: new Date({{ fin.date.year }}, {{ fin.date.month }}, {{ fin.date.day }}),
                    y: {{ fin.value}}
                }{% if not forloop.last %},{% endif %}
                    {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        return tooltipItem.yLabel + ' €';
                    },
                    footer: function (tooltipItem, data) {
                        console.log(names)
                        return names[tooltipItem[0].index];
                    }
                }
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        displayFormats: {
                            quarter: 'MMM YYYY',
                            unit: 'day'
                        }
                    }
                }]
            }
        }
    });
</script>
{% endblock %}