{% extends "base.html" %} {% block content %} {% load staticfiles %}
<div class="container body_pres">
    <div class='row'>
        <div class="col-lg-12">
            <h2>Réservation de salle</h2>
        </div>
    </div>
    <div class='row'>
        <div class="col-lg-12">
            <form class="form_assoc rounded" method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label>Date</label>
                    <input type="date" name="date_0" class="form-control" id="id_date_0" placeholder="Date Réservation">
                    <label>Heure</label>
                    <input type="time" name="date_1" class="form-control" id="id_date_1" placeholder="Heure Réservation">
                    <label id="id_lieu">Salles</label>
                    <select for="id_lieu" name="lieu">
                        {% for resource in resources %}
                        <option value="{{resource.0}}">{{resource.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Valider</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
