{% extends "base.html" %} {% block content %} {% load staticfiles %}
<div class="container body_pres">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="top-button-list">
                <a href="#link" class="btn btn-outline-primary" role="button" data-toggle="modal" data-target="#histo_budget">Historique Budget</a>
                <a href="#link" class="btn btn-outline-primary" role="button" data-toggle="modal" data-target="#histo_create">Historique Création d'Association</a>
                {% if is_enac_open %}
                <a href="close_enac" class="btn btn-outline-primary" role="button">Fermer Formulaire ENACS</a>
                {% else %}
                <a href="open_enac" class="btn btn-outline-primary" role="button">Ouvrir Formulaire ENACS</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>Gestion des demandes d'association:</h3>
            {% if applys_toList > 0 %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Date</th>
                        <th scope="col">Utilisateur</th>
                        <th scope="col">Fichier</th>
                        <th scope="col">Décision</th>
                    </tr>
                </thead>
                <tbody>
                    {% for apply in applys %} {% if apply.statut != 'a' and apply.statut != 'd'%}
                    <tr>
                        <td>{{ apply.nom_asso }}</td>
                        <td>{{ apply.date|date:"d/m/y" }}</td>
                        <td>
                            <a href="{% url 'user' login=apply.createur %} ">{{ apply.createur}}</a>
                        </td>

                        <td>
                            <a href="{{ apply.file.url }}" class="btn btn-primary">Dossier</a>
                        </td>
                        <td>
                            {% if apply.statut == 'c' %}
                            <a href={% url "respo_change_status_asso" apply_id=apply.id accepted=1 %} class="btn btn-success">Accepter (CIA)</a>
                            <a href={% url "respo_change_status_asso" apply_id=apply.id accepted=0 %} class="btn btn-danger">Refuser (CIA)</a>
                            {% elif apply.statut == 'r' %}
                            <a href={% url "respo_change_status_asso" apply_id=apply.id accepted=1 %} class="btn btn-success">Accepter (Resp)</a>
                            <a href={% url "respo_change_status_asso" apply_id=apply.id accepted=0 %} class="btn btn-danger">Refuser (Resp)</a>
                            {% endif %}
                        </td>


                    </tr>
                    {% endif %} {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-primary" role="alert">
                Aucune demande de création d'association.
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>Gestion des demandes de Budget:</h3>
            {% if budgets_toList > 0 %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Association</th>
                        <th scope="col">Date</th>
                        <th scope="col">Fichier</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Décision</th>
                    </tr>
                </thead>
                <tbody>
                    {% for budget in budgets %} {% if budget.statut == 'w' %}
                    <tr>
                        <td>{{ budget.emis.name }}</td>
                        <td>{{ budget.date|date:"d/m/y" }}</td>
                        <td>
                            <a href="{{ budget.fichier_presentation_chemin.url }}" class="btn btn-primary">Dossier</a>
                        </td>
                        <td>{{ budget.amount }}€</td>
                        <td>
                            <a href={% url "acceptBudget" budget_id=budget.id accepted=1 %} class="btn btn-success">Accepter</a>
                            <a href={% url "acceptBudget" budget_id=budget.id accepted=0 %} class="btn btn-danger">Refuser</a>
                        </td>


                    </tr>
                    {% endif %} {% endfor %}
                </tbody>
            </table>

            {% else %}
            <div class="alert alert-primary" role="alert">
                Aucune demande de budget.
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal fade" id="histo_budget" tabindex="-1" role="dialog" aria-labelledby="histobudgetLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="budgetmodal">Historiques des demandes de Budget</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if budgets|length > 0 %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Association</th>
                            <th scope="col">Date</th>
                            <th scope="col">Fichier</th>
                            <th scope="col">Montant</th>
                            <th scope="col">Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for budget in budgets %}
                        <tr>
                            <td>{{ budget.emis.name }}</td>
                            <td>
                                {% if budget.statut != 'a' %}
                                    {{ budget.date|date:"d/m/y" }}
                                {% else %}
                                    {{ budget.dateAccepted|date:"d/m/y"}}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ budget.fichier_presentation_chemin.url }}" class="btn btn-primary">Dossier</a>
                            </td>
                            <td>{{ budget.amount }}€</td>
                            <td>
                                {% if budget.statut == 'a' %}
                                <span class="badge badge-success">Acceptée</span>
                                {% elif budget.statut == 'w' %}
                                <span class="badge badge-info">En attente</span>
                                {% elif budget.statut == 'd' %}
                                <span class="badge badge-danger">Refusée</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-primary" role="alert">
                    Aucune demande de budget.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="histo_create" tabindex="-1" role="dialog" aria-labelledby="histocreateLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createmodal">Historiques des demandes de création</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if applys|length > 0 %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Date</th>
                            <th scope="col">Utilisateur</th>
                            <th scope="col">Fichier</th>
                            <th scope="col">Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for apply in applys %}
                        <tr>
                            <td>{{ apply.nom_asso }}</td>
                            <td>{{ apply.date|date:"d/m/y" }}</td>
                            <td>
                                <a href="{% url 'user' login=apply.createur %} ">{{ apply.createur}}</a>
                            </td>

                            <td>
                                <a href="{{ apply.file.url }}" class="btn btn-primary">Dossier</a>
                            </td>
                            <td>
                                {% if apply.statut == 'a' %}
                                <span class="badge badge-success">Acceptée</span>
                                {% elif apply.statut == 'c' %}
                                <span class="badge badge-warning">En attente (CIA)</span>
                                {% elif apply.statut == 'r' %}
                                <span class="badge badge-info">En attente (Responsable)</span>
                                {% elif apply.statut == 'd' %}
                                <span class="badge badge-danger">Refusée</span>
                                {% endif %}
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-primary" role="alert">
                    Aucune demande de création d'association.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}