{% extends "base.html" %} {% block content %}
<div class="container body_pres">
    {% for user in users %} {% if forloop.counter0|divisibleby:3 %}
    <div class="row">{% endif %}
        <div class="col-lg-4 text-center mx-auto">
            <div class="card " style="width: 18rem; ">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <a href="{% url 'user' login=user.username %}" class="btn btn-primary">Voir page</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div>{% endif %} {% empty %}
    <p>Aucun Utilisateur.</p>
    {% endfor %}
</div> {% endblock %}