{% extends "base.html" %} {% block content %}
<div class="container body_pres">
    <div class="row">
        <div class="col-lg-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Membre public</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in result_user %}
                    <tr>
                        <td><a href="{% url 'user' login=user.username %}">{{ user.username }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Association</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asso in result_assos %}
                    <tr>
                        <td><a href="{% url 'asso' slug=asso.slug %}">{{ asso.name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}