{% extends "base.html" %} {% block content %} {% load staticfiles %}
<div class="container body_pres">
    <div class='row'>
        <div class="col-lg-4 text-center ">
            <h2 class="name_pres">{{ disUser.first_name }} {{ disUser.last_name }}</h2>
            <img src="https://photos.cri.epita.net/thumb/{{ disUser.username }}" class="rounded w-50">
        </div>
        <div class="col-lg-8">
            <form class="form_assoc rounded" action="{% url "user" login=disUser.username %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="lastname_member">Login</label>
                    <input type="text" name="login" maxlength="30" class="form-control" required id="id_login" placeholder="Login" value="{{ disUser.username }}" disabled>
                </div>
                <div class="form-group">
                    <label for="lastname_member">Nom</label>
                    <input type="text" name="lastname" maxlength="50" class="form-control" id="id_lastname" placeholder="Nom" value="{{ disUser.last_name }}" {% if disUser.username != user.username and not user.is_staff %}disabled{% endif %}>
                </div>
                <div class="form-group">
                    <label for="firstname_member">Prénom</label>
                    <input type="text" name="firstname" maxlength="50" class="form-control" id="id_firstname" placeholder="Prénom" value="{{ disUser.first_name }}" {% if disUser.username != user.username and not user.is_staff %}disabled{% endif %}>
                </div>
                <div class="form-group">
                    <label for="email_member">Adresse Email</label>
                    <input type="email" name="email" class="form-control" id="id_email" placeholder="Email" value="{{ disUser.email }}" {% if disUser.username != user.username and not user.is_staff %}disabled{% endif %}>
                </div>
                {% if disUser.username == user.username  or user.is_staff %}
                <button type="submit" class="btn btn-primary">Valider</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
