{% extends "base.html" %} {% block content %}
<div class="container body_pres">
    <h3>{{ asso.name }}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Rôle</th>
                <th scope="col">Gestion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{% url 'user' login=asso.login_pres %} ">{{ asso.login_pres }}</a></td>
                <td>Président</td>
                <td></td>
            </tr>

            {% if asso.login_vice_pres is not None %}
            <tr>
                    <td><a href="{% url 'user' login=asso.login_vice_pres %} ">{{ asso.login_vice_pres }}</a></td>
                    <td>Vice Président</td>
                    <td></td>
                </tr>
            <tr>
            {% endif %}
                <td><a href="{% url 'user' login=asso.login_tres %} ">{{ asso.login_tres }}</a></td>
                <td>Trésorier</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="{% url 'user' login=asso.login_secr %} ">{{ asso.login_secr}}</a></td>
                <td>Secrétaire</td>
                <td></td>
            </tr>
            {% for user in members %}
            <tr>
                <td> <a href="{% url 'user' login=user.username %}">{{user.username}}</a></td>
                <td>Membre</td>
                <td>
                    <a href={% url "delete_member" slug=slug user_id=user.id %} class="btn btn-danger">x</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}