{% extends "base.html" %} {% block content %} {% load staticfiles %}
<div class="container">
    <div id="top_carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src={% static 'img/salle_epita.jpg' %} alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src={% static 'img/computer_photo.jpg' %} alt="Second slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#top_carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#top_carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container informations">
    <div class="row">
        <div class="col-lg-12">
            <h2> Réunions </h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Association</th>
                        <th scope="col">Date</th>
                        <th scope="col">Heure</th>
                        <th scope="col">Salle</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>BDE Epita</td>
                        <td>12/10/2018</td>
                        <td>19:10</td>
                        <td>SM14</td>
                        <td>AS</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}