{% extends "base.html" %} {% block content %} {% load staticfiles %}
<div class="container body_pres">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="top-button-list">
                <!-- User -->
                {% if not isMember and not isBoard %}
                <a href="apply_to_asso" class="btn btn-outline-primary" role="button">Candidater</a>
                {% endif %}
                <!-- Membre all asso -->
                {% if isMember or isBoard or user.is_staff %}
                <a href="get_board" class="btn btn-outline-primary" role="button">Membres du bureau</a>
                <a href="/list_asso" class="btn btn-outline-primary" role="button">Liste des associations</a>
                {% endif %}
                <!-- Membre -->
                {% if isMember or isBoard or user.is_staff %}
                <a href="apply_list" class="btn btn-outline-primary" role="button">Gestion candidatures</a>
                <a href="finances" class="btn btn-outline-primary" role="button">Tableau de bord Financier</a>
                {% endif %}
                <!-- Bureau -->
                {% if isBoard or user.is_staff %}
                <a href="members" class="btn btn-outline-primary" role="button">Gestion membres</a>
                {% endif %}
                <!-- Pres -->
                {% if asso.login_pres == user or user.is_staff %}
                {% if is_enac_open %}
                <a href="enacs" class="btn btn-outline-primary" role="button">Points ENAC</a>
                {% endif %}
                <a href="reserve" class="btn btn-outline-primary" role="button">Réserver une salle</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="col-lg-4">
            <h2 class="name_pres">{{ asso.name }}</h2>
            <img src={{ asso.logo.url }}>
        </div>
        <div class="col-lg-8">
            <form class="form_assoc rounded" method="post" action="{% url "asso" slug=asso.slug %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email_assoc">Adresse Email</label>
                    <input type="email" name="email" class="form-control" id="id_email" aria-describedby="emailHelp" placeholder="Email Association" value="{{ asso.email }}" {% if asso.login_pres != user and not user.is_staff  %}disabled{% endif %}>
                </div>
                <div class="form-group">
                    <label for="url_assoc">Site Web</label>
                    <input type="url" name="website" class="form-control" id="id_website" placeholder="Site Web" value="{{ asso.website|default_if_none:" " }}" {% if asso.login_pres != user and not user.is_staff %}disabled{% endif %}>
                </div>
                {% if asso.login_pres == user or user.is_staff %}
                <button type="submit" class="btn btn-primary">Valider</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
