{% extends "base.html" %} {% block content %} {% load staticfiles %}
<div class="container body_pres">
    <form enctype="multipart/form-data" action="{% url "crea_asso" %}" method="post" class="form_assoc">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="name" maxlength="100" required id="id_name" class="form-control" aria-describedby="nameHelp" placeholder="Nom de l'association">
                <input type="file" name="file" required id="id_file" class="form-control-file" aria-describedby="fileHelp" multiple>
                <label class="" for="id_file"></label>
        </div>

        <small id="fileHelp" class="form-text text-muted">Attention, les fichiers doivent être au format .pdf</small>
        <input type="submit" class="btn btn-primary" value="Valider">
    </form>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Date</th>
                <th scope="col">Statut</th>
            </tr>
        </thead>
        <tbody>

          {% for apply in applys %}
            <tr>
                <td>{{ apply.nom_asso }}</td>
                <td>{{ apply.date|date:"d/m/y" }}</td>
                <td>
                    {% if apply.statut == 'a' %}
                    <span class="badge badge-success">Acceptée</span>
                    {% elif apply.statut == 'c' %}
                    <span class="badge badge-warning">En attente (CIA)</span>
                    {% elif apply.statut == 'r' %}
                    <span class="badge badge-info">En attente (Responsable)</span>
                    {% elif apply.statut == 'd' %}
                    <span class="badge badge-danger">Refusée</span>
                    {% endif %}
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
