{% extends "base.html" %} {% block content %} {% load staticfiles %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Statut</th>
                <th scope="col">Motivation</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for apply in applying_users %}
            <tr>
                <td>{{ apply.user.username }} </td>
                <td>
                    {% if apply.statut == 'a' %}
                    <span class="badge badge-success">Accepté</span> {% elif apply.statut == 'w' %}
                    <span class="badge badge-primary">En attente</span> {% else %}
                    <span class="badge badge-danger">Refusé</span> {% endif %}
                </td>
                <td>{{ apply.motivation_letter }} </td>
                <td>
                    <a href={% url "apply_resolve" slug=slug apply_id=apply.id accepted=1 %} class="btn btn-success" role="button">✓</a>
                    <a href={% url "apply_resolve" slug=slug apply_id=apply.id accepted=0 %} class="btn btn-danger" role="button">x</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}