@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway/Raleway-Regular.ttf');
}

* {
    font-family: Raleway;
}


#subutton {
	position: relative;
	margin-top: 20px;
	width: 80px;
}

.box_layout{
	position: relative;
	width: 600px;
    height: 500px;
	left: 30%;
	border-color: black;
}

#img_profil {
	top: 10px;
	margin-bottom: 30px;
	width: 140px;
	height: 120px;
}

#body {
	background-color : #D9D9D9;
}

#id_password{
	margin-bottom: 5px;
}

.jumbotron.vertical-center {
    margin-bottom: 0;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;

    width: 100%;
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}