@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway/Raleway-Regular.ttf');
}

* {
    font-family: Raleway;
}

body {
    background-color: #E8EBFF;
}

footer .container {
    border-top: 2px solid #00435F;
}

.tales {
    width: 100%;
}

.carousel {
    padding-bottom: 20px;
}

.carousel-inner {
    width: 100%;
    max-height: 200px !important;
}

.carousel-inner>.item>img {
    margin: auto;
}

.banner-top {
    padding: 10px 10px 10px 10px;
    font-size: 32px;
}

.navbar {
    background: linear-gradient(#41B2E6, #00435F);
}

.body_pres {
    font-family: Raleway;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
}

.body_pres button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.body_pres img {
    margin-top: 20px;
}

.form_assoc,
.rounded {
    background-color: #CCCCCC;
    border: 1px;
    border-color: #999999;
}

.form_assoc,
.form-group .form_assoc,
button {
    padding: 10px;
}

.top-button-list {
    padding-bottom: 10px;
}

.top-button-list a {
    margin-right: 10px;
}

.name_pres {
    text-align: center;
    margin: auto;
}

img {
    width: 100%;
    max-height: 100%;
}

.drop-down-results {
    position: relative;
    white-space: nowrap;
}

.results {
    background-color: #E8EBFF;
    position: absolute;
    z-index: 10;
    border: 1px solid black;
    right: 0;
}

.results-users {
    border-top: 1px solid #00435F;
}

.full-page {
    height: 100%;
}

.centered-div {
    margin-top: 25%;
}