@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway/Raleway-Regular.ttf');
}

* {
    font-family: Raleway;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    /* add url */
}

#title {
    position: relative;
    top: 5px;
    font-size: 25px;
    color: black;
    font-family: Arial;
    text-align: center;
}

#contenu_bouton {
    margin-top: 20px;
    background-color: #fff;
    width: 75%;
    left: 12.5%;
    height: 35px;
}

.epita_img {
    width: 50px;
    height: 35px;
}

.arrow_epita {
    position: relative;
    width: 30px;
    height: 25px;
    left: 70%;
    top: 2.5px;
    bottom: 10%;
}

#separateur_img {
    margin-top: 10px;
    left: 25%;
    margin-bottom: 10px;
}

.separateur {
    height: 3px;
    width: 50%;
}

.button {
    position: absolute;
    left: 30%;
    top: 2.5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #08506f;
}

#login_box {
    width: 460px;
    height: 360px;
    background: #d9e9f0;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

#position {
    left: 20%;
}

#position-mdp {
    left: 20%;
}

.username {
    margin-top: 10px;
    font-size: 16px;
    width: 60%;
}

.mdp {
    font-size: 16px;
    margin-top: 25px;
    width: 60%;
}

.submit {
    position: absolute;
    border: 1px #010DBA groove;
    outline: none;
    height: 30px;
    width: 56%;
    font-weight: bold;
    background: #1c8adb;
    color: #fff;
    font-size: 16px;
    bottom: 30px;
    left: 23%;
}

#no_account {
    margin-top: 15px;
    left: 44%;
}

.create_account {
    font-size: 10px;
    color: black;
    font-style: italic;
    font-weight: bold;
}

.jumbotron.vertical-center {
    margin-bottom: 0;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;

    width: 100%;
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}