<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap-grid.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
	<body>
	<div class="container" id="login_box">
	<h1>Connexion &agrave l'Intranet Association </h1>
		<div class="col">
			<img src="epita.png" alt="epita association" class="epita_img"/>
			<a href="{% url 'social:begin' backend='epita' %}" class="button">EPITA Connect</a>
			<img src="right-arrow.png" alt="epita association" class="arrow_epita"/>
		</div>
    <div class = "col">
		  <img src="separateur.png" alt="epita association" class="separateur"/>
    </div>
		<form method = "post" action=".">
      <div class="row">
        <div class="col-sm" id="position">
		      <input type="text" name="username" placeholder="Nom de compte" class="username">
        </div>
      </div>
      <div class="row">
        <div class="col-sm" id="position-mdp">
		      <input type="password" name="password" placeholder="Mot de passe" class="mdp">
        </div>
      </div>
      <div class="row">
		    <input type="submit" name="submit" value="connexion" class="submit">
      </div>
		</form>
	</div>
	</body>
</html>
